*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: #2c2c2c;
}

/* Header and Dropdown css */
#header{
    background-color: #ffcf00;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: large;
    text-align: center;
}

#header img{
    padding: 10px;
}


#header button{
    background-color: #ffcf00;
    border: none;
    height: 70px;
}

#logo{
    height: inherit;
}

.link , #header button, #dropdown-content{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

#header a:hover, #dropdown:hover button{
    text-decoration: underline;
    text-decoration-style: solid; 
}


#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #DFDFDF;
    z-index: 1; /*Places content in front of everything else*/
}

#dropdown-content a {
    display: block;
}


#dropdown:hover #dropdown-content{
    display: block;
}

/* End of Header and Dropdown css */


/* Start of quick links css*/

#quick_links{
    display: flex;
    width: 80%;
    margin: auto;
}

#icons{
    display: flex;
    width: 40%;
    background-color: #ffcf00;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: large;

    flex-grow: 1;
    flex-basis: 50%;
}

.icon_img{
    background-color: white;
    border: white solid 20px;
    border-radius: 20px;
}

.icon_text{
    padding-top: 5px;
}

.icon_img:hover{
    color: black;
    border: white solid 15px;
}

#discription{
    width: 60%;
    background-color: aqua;
}


#Missing, #Contact, #Returns, #Instructions, #Buy, #Broken{
    display: none;
}






/* End of quick links css*/