#head{
    background-color: sandybrown;
    padding: 6px;
}
#hound-img{
    background-color: antiquewhite;
    padding: 10px;
    float: none;
    width: 35%;
}
#hound-img > img {
    border: 15px solid sienna;
}
#hound-txt{
    float:right;
    background-color: antiquewhite;
    width: 65%;
    font-family: 'Times New Roman', Times, serif;
}
#mainhound{
    background-color: antiquewhite;
}