*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header and Dropdown css */
#header{
    background-color: #ffcf00;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: large;
    text-align: center;
}

#header img{
    padding: 10px;
}

#header button{
    background-color: #ffcf00;
    border: none;
    height: 70px;
}

#header a, #header button, #dropdown-content{
    padding: 10px;
    text-decoration: none;
    color: #2c2c2c;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

#header a:hover, #dropdown:hover button{
    text-decoration: underline;
    text-decoration-style: solid; 
}


#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #DFDFDF;
    z-index: 1; /*Places content in front of everything else*/
}

#dropdown-content a {
    display: block;
}


#dropdown:hover #dropdown-content{
    display: block;
}

/* End of Header and Dropdown css */

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

main p{
    text-align: center;
}

#theme_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin: 10px;
    width: 100%;
    padding: 20px;
    background-color: #DFDFDF;
    justify-content: center;
    border-radius: 30px;
}

.theme{
    display: flex;
    gap: 10px;
    background-color: grey;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.theme-text a{
    background-color: #2c2c2c;
    color: #ffffff;
    text-decoration: none;
    font-size: large;
    padding: 10px;
}

.theme-text a:hover{
    background-color: black;
    color: #ffffff;
    font-weight: bold;
}

.theme img{
    border: #2c2c2c solid 4px;
}
